<h1>Address Form</h1>

<h2>Add an address:</h2>

<form action="/contacts/<%= @contacts.id %>" method="post">
  <label for="street_address">Street Address:</label>
  <input type="text" id="street_address" name="street_address">



  <button type="submit">Add Address</button>
</form>
