<h1>Contacts Form</h1>

<h2>Add a contact:</h2>

<form action="/contacts" method="post">
  <label for="first_name">Contact's first name:</label>
  <input type="text" id="first_name" name="first_name">

  <label for="last_name">Contact's last name:</label>
  <input type="text" id="last_name" name="last_name">

  <label for="job_title">Contact's job title:</label>
  <input type="text" id="job_title" name="job_title">

  <label for="company">Contact's company:</label>
  <input type="text" id="company" name="company">

  <button type="submit">Add Contact</button>
</form>
