<h1><%= @contacts.first_name() %></h1>
<h1><%= @contacts.last_name() %></h1>
<h1><%= @contacts.job_title() %></h1>
<h1><%= @contacts.company() %></h1>


<a href="/contacts"><button class="btn btn-default" type="button">Go to Contact List</button></a>
